.title-container {
    padding: 20px;
    margin-top: 5vh;
}

.full-name {
    font-weight: bold;
    font-size: 1.9rem;
}

.cursor-pointer {
	cursor: pointer;
}

.resume-download{
	@media (max-width: 768px) {
		text-align: center;
        margin-top: 15px;
	}
}
@media (max-width: 768px) {
    .title-container {
        margin-top: 70px;
    }
    .full-name {
        font-size: 1.5rem;
    }
}